.card_list
{
    #card_list
    {
        padding-top: vw(40, 1440);
        @media screen and (max-width: 767px) {
            padding-top: vw(40, 393);
        }
    }

    .content_title
    {
        margin-top: vw(40, 1440);
        height : vw(48, 1440);
        max-height: 48px;
        width : auto;

		@media screen and (max-width: 767px) {
			margin-top: vw(40, 393);
			height: vw(31, 393);
			max-height: 31px;
		}
    }

    img
    {
        width : auto;
        height : 100%;
    }

    .content
    {
        margin-top: vw(32, 1440) !important;
        margin-bottom: vw(80, 1440) !important;

        @media screen and (max-width: 767px) {
			margin-top: vw(24, 393) !important;
			margin-bottom: vw(40, 393) !important;
		}
    }

    .content:last-of-type
    {
        margin-bottom: 0 !important;

    }

}