.firstView
{
	width               : 100%;
	height              : auto;
	margin-bottom       : vw(80, 1440);

    @media screen and (max-width: 767px) {
        margin-bottom: vw(40, 393);
    }

	img
	{
		width : 100%;
		height : auto;
	}
}

#news
{
    position : relative;
    min-height     : vw(368, 1440);
    padding-bottom : vw(72, 1440);

    @media screen and (max-width: 767px) {
        min-height     : 0;
        padding-bottom : 0;
    }

    .bg
    {
        position : absolute;
        top      : 0;
        left     : 0;
        z-index  : 1;

        width  : 100%;
        height : 100%;

        display        : flex;
        flex-direction : column;

        @media screen and (max-width: 767px) {
            position : relative;
            height   : auto;
            display  : block;
        }

        img
        {
            flex-shrink : 0;
            width  : 100%;
            height : auto;
            display : block;
        }

        .space
        {
            flex : 1 1 auto;
            width : 100%;
            background-image    : url(../imgs/news_back_space.png);
            background-size     : 100% auto;
            background-position : top center;
            background-repeat   : repeat-y;
        }
    }

    .innerarea
    {
        position : relative;
        z-index  : 2;

        @media screen and (max-width: 767px) {
            position : absolute;
            top      : 0;
            left     : 0;
            right    : 0;
            width    : 100%;
        }
    }

    .news_content
    {
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }


    .title
    {

        width : 225px;
        height : auto;
        margin-top: vw(119, 1440);
        margin-right: vw(65, 1440);

        @media screen and (max-width: 767px) {
            width: 152px;
            margin-top: vw(40, 393);
            margin-right: 0;
        }

        img
        {
            width : 100%;
            height : auto;
        }
    }

    .news_list
    {
        margin-top: vw(16, 1440);
        width : 100%;

        @media screen and (max-width: 767px) {
            margin-top: vw(40, 393);
        }

        .item
        {
            margin: vw(12, 1440) 0;

            @media screen and (max-width: 767px) {
                margin: vw(12, 393) 0;
            }

            .date
            {
                margin-bottom: vw(11, 1440);

                @media screen and (max-width: 767px) {
                    margin-bottom: vw(4, 393);
                }
            
            }
        }

        .border_line
        {
            width : 100%;
            background-color: #0C0C08;
            color: #0C0C08;
            height: 1px;
        }

        .more_btn
        {
            margin-top: vw(24, 1440);
            background-color: #0C0C08;
            border: #FFFFFF 1px solid;

            width: fit-content;
            margin-left: auto;


            @media screen and (max-width: 767px) {
                margin-top: vw(40, 393);
            }

            .d-flex
            {
                gap: vw(12, 1440);
                margin: 10px 24px;
            }
        }
    }
    
}

#story
{
    position : relative;
    overflow-x : hidden;
    background-color: #0C0C08;
    padding-bottom : vw(72, 1440);

    @media screen and (max-width: 767px) {
        padding-bottom : vw(80, 393);
    }

    .bg
    {
        height: fit-content;
        .magic
        {
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%, -50%);
            width : vw(730, 1440);
            max-width: 730px;
            z-index : 1;

            img
            {
                width : 100%;
                height : auto;
            }
        }

        .top
        {
            position : absolute;
            top      : 0;
            left     : 0;
            z-index : 50;

            width : 1440px;

            img
            {
                display : block;
                width : 100%;
                height : auto;
            }
        }

        .bottom
        {
            position : absolute;
            bottom      : 0;
            left     : 0;
            transform: rotate(180deg);
            z-index : 50;

            width : 1440px;

            img
            {
                display : block;
                width : 100%;
                height : auto;
            }
        }

        .left_top
        {
            position : absolute;
            top      : 0;
            left     : vw(24, 1440);
            z-index : 25;

            width : vw(245, 1440);
            max-width: 245px;
            height : auto;
            max-width: 245px;
            img
            {
                width : 100% !important;
                height : auto !important;
            }
        }

        .left_bottom
        {
            position : absolute;
            bottom      : 0;
            left     : vw(24, 1440);
            z-index : 25;

            transform: rotate(180deg);
            width : vw(245, 1440);
            height : auto;
            max-width: 245px;
            img
            {
                width : 100% !important;
                height : auto !important;
            }
        }

        .right_top
        {
            position : absolute;
            top      : 0;
            right     : vw(24, 1440);
            z-index : 25;

            width : vw(245, 1440);
            height : auto;
            max-width: 245px;
            img
            {
                width : 100% !important;
                height : auto !important;
            }
        }

        .right_bottom
        {
            position : absolute;
            bottom      : 0;
            right     : vw(24, 1440);
            z-index : 25;
            transform: rotate(180deg);
            width : vw(245, 1440);
            height : auto;
            max-width: 245px;
            img
            {
                width : 100% !important;
                height : auto !important;
            }
        }
        
    }

    .innerarea
    {
        padding-left: vw(340, 1440);
        padding-right: vw(340, 1440);
        padding-top: vw(80, 1440);
        padding-bottom: vw(88, 1440);
        position : relative;
        z-index : 2;

        @media screen and (max-width: 767px) {
            max-width: 393px;
            padding-top: vw(80, 393);
            padding-bottom: 0;
            padding-left: vw(40, 393);
            padding-right: vw(40, 393);
        }
    }

    .title
    {
        width : 264px;
        height : auto;

        @media screen and (max-width: 767px) {
            width : 182px;
        }

        img
        {
            width : 100%;
            height : auto;
        }
    }

    .story_text
    {
        margin-top: vw(24, 1440);
        line-height: 5.0rem;

        @media screen and (max-width: 767px) {
            margin-top: vw(40, 393);
            line-height: 2.0rem;
        }
    }
}


#firstUser
{
    position : relative;
    overflow-x : hidden;
    margin-top: vw(96, 1440);

    @media screen and (max-width: 767px) {
        margin-top: vw(80, 393);
    }

    .title
    {
        width : fit-content;
        height : auto;

        .text
        {
            display : block;
            width : vw(409, 1440);
            max-width: 409px;
            height : auto;
            margin-right: vw(12, 1440);

            @media screen and (max-width: 767px) {
                width : 278px;
                margin-right: 0;
            }

            img
            {
                width : 100%;
                height : auto;
            }
        }

        .decoration
        {
            display : block;
            align-self : center;
            width : auto;
            height : auto;

            img
            {
                display : block;
                width : auto;
                height : vw(71, 1440);
            }
        }
    }

    .content
    {
        margin-top: vw(80, 1440);
        gap: vw(33, 1440);

        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin-top: vw(16, 393);
            gap: vw(24, 393);
        }
        .sp_cards
        {
            @media screen and (max-width: 767px) {
                gap: vw(16, 393);
                margin-bottom: vw(16, 393);
            }
        }

        .card_item
        {
            flex : 0 0 auto;
            align-self : flex-start;
            width : vw(329, 1440);
            max-width: 329px;
            height : auto;

            @media screen and (max-width: 767px) {
                width : vw(150, 393);
                max-width: 150px;
            }

            img
            {
                display : block;
                width : 100%;
                height : auto;
            }
        }

        .textarea
        {
            width : 100%;
            height : auto;
            display: flex;
            flex-direction: column;
            gap: vw(32, 1440);
        }
    }


}

#contact
{
    position : relative;
    margin-top: vw(80, 1440);

    @media screen and (max-width: 767px) {
        margin-top: vw(80, 393);
    }

    .title
    {
        width : vw(242, 1440);
        max-width: 242px;
        height : auto;
        margin-bottom: vw(40, 1440);

        @media screen and (max-width: 767px) {
            width : 175px;
            margin-bottom: vw(40, 393);
        }

        img
        {
            width : 100%;
            height : auto;
        }
    }

    .content
    {
        width : 100%;
        height : auto;
        background-color: #FFFFFF;
        padding: vw(40, 1440);

        @media screen and (max-width: 767px) {
            padding: vw(24, 393);
        }

        .form_item
        {
            width : 100%;
            margin-bottom: vw(24, 1440);

            @media screen and (max-width: 767px) {
                margin-bottom: vw(24, 393);
            }
        }

        input
        {
            width : 100%;
            height : auto;
            font-size: 1.25rem;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            padding: vw(5, 1440) vw(20, 1440);
            color: #0C0C08;

            @media screen and (max-width: 767px) {
                padding: vw(4, 1440) vw(12, 1440);
                font-size: 1.0rem;
            }
            &::placeholder
            {
                color: #D9D9D9;
            }
        }
        select
        {
            width : 100%;
            height : auto;
            font-size: 1.25rem;
            border: 1px solid #D9D9D9;
            padding: vw(5, 1440) vw(20, 1440);
            border-radius: 4px;
            color: #0C0C08;

            @media screen and (max-width: 767px) {
                padding: vw(4, 1440) vw(12, 1440);
                font-size: 1.0rem;
            }

            &:invalid
            {
                color: #D9D9D9;
            }

            option
            {
                color: #0C0C08;
            }
        }

        textarea
        {
            display : block;
            width : 100%;
            height : 240px;
            resize: none;
            font-size: 1.25rem;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            padding: vw(5, 1440) vw(20, 1440);
            color: #0C0C08;

            @media screen and (max-width: 767px) {
                padding: vw(4, 1440) vw(12, 1440);
                font-size: 1.0rem;
            }
            &::placeholder
            {
                color: #D9D9D9;
            }
        }

        .textarea_item
        {
            margin-bottom: vw(12, 1440);

            @media screen and (max-width: 767px) {
                margin-bottom: vw(12, 393);
            }
        }


        .contents
        {
            height: 240px;
        }

        .label
        {
            align-items: center;
            gap: vw(12, 1440);
            margin-bottom: vw(12, 1440);

            @media screen and (max-width: 767px) {
                gap: vw(8, 393);
                margin-bottom: vw(8, 393);
            }

            .red_color
            {
               padding: 0 vw(8, 1440);
               border: 1px solid #FF0000;
               @media screen and (max-width: 767px) {
                    padding: 0 vw(8, 393);
               }
            }
        }

        .submit_btn
        {
            width : fit-content;
            height : auto;
            background-color: #CBAB71;
            color: #FFFFFF;
            padding: vw(10, 1440) vw(20, 1440);
            margin: 0 auto;
            margin-top: vw(40, 1440);

            @media screen and (max-width: 767px) {
                padding: vw(10, 393) vw(47, 393);
                margin-top: vw(40, 393);
            }

            .text
            {
                text-align: center;
                padding:  vw(10, 1440) vw(47, 1440);
            }
        }
    }
}